@media (max-width: 479px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 15px;
        --font_size_title: 32px;
    }



    .buttonUp
    {
        right: 10px;
        bottom: 10px;
    }



    /*------------
        Header
    ------------*/
    header .socials
    {
        display: none;
    }


    header .search
    {
        position: static;
    }


    header .search .mini_modal
    {
        right: 20px;

        width: calc(100% - 40px);
    }

    header .search .mini_modal.active
    {
        top: 100%;

        transform: translateY(10px);
    }



    /*-------------
        Sidebar
    -------------*/



    /*---------------
        Page head
    ---------------*/
    .page_title
    {
        font-size: 38px;
        line-height: 42px;
    }


    .page_desc
    {
        font-size: 15px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head .title .gradient
    {
        font-size: 36px;
        line-height: 40px;
    }

    .block_head .sub_title
    {
        font-size: 18px;
        line-height: 28px;
    }



    /*------------------
        Form elements
    ------------------*/



    /*----------------
        Typography
    ----------------*/
    .text_block h2
    {
        font-size: 30px;
        line-height: 34px;
    }

    .text_block h3
    {
        font-size: 26px;
        line-height: 30px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section .info .title
    {
        font-size: 34px;
        line-height: 42px;
    }



    /*-----------------
        About block
    -----------------*/
    .about_block .block_title
    {
        font-size: 22px;
        line-height: 28px;
    }

    .about_block .block_desc
    {
        font-size: 16px;
        line-height: 24px;
    }


    .about_block .row
    {
        margin-bottom: -20px;
        padding-bottom: 0;
    }

    .about_block .row > *
    {
        max-width: calc(100% - 20px);
        margin-bottom: 20px;
    }



    /*-------------
        Mission
    -------------*/
    .mission .title
    {
        font-size: 36px;
        line-height: 42px;
    }



    /*------------
        Events
    ------------*/
    .events .block_title
    {
        font-size: 22px;
        line-height: 28px;
    }


    .events .event .name
    {
        font-size: 18px;
        line-height: 26px;
    }



    /*----------
        Team
    ----------*/
    .team .tabs button + button
    {
        margin-left: 25px;
    }

    .team .tabs button
    {
        font-size: 16px;

        padding-bottom: 6px;
    }


    .team .links > *
    {
        width: calc(100% - 30px);
    }



    /*------------
        Invest
    ------------*/
    .invest .slide
    {
        width: 100%;
    }



    /*------------------
        Article info
    ------------------*/
    .article_info .head .article_title
    {
        font-size: 38px;
        line-height: 42px;

        padding-bottom: 15px;
    }



    /*-----------
        Stats
    -----------*/
    .stats .row > *
    {
        width: calc(50% - 20px);
    }



    /*----------------
        Join block
    ----------------*/
    .join_block .title
    {
        font-size: 36px;
        line-height: 38px;
    }



    /*-----------------
        Media block
    -----------------*/
    .media_block .tabs button
    {
        font-size: 19px;
        line-height: 23px;
    }


    .media_block .tab_content .more
    {
        margin-top: 20px;
        padding-bottom: 10px;
    }



    /*---------------
        Map block
    ---------------*/
    .map_block .info
    {
        font-size: 17px;
        line-height: 25px;

        padding: 30px;
    }

    .map_block .info .title
    {
        font-size: 26px;

        margin-bottom: 15px;
    }



    /*----------------
        Learn more
    ----------------*/
    .learn_more .info .details
    {
        font-size: 20px;
        line-height: 24px;
    }


    .learn_more .info .title
    {
        font-size: 26px;
        line-height: 30px;
    }



    /*-----------------
        Indications
    -----------------*/
    .indications .row > *
    {
        width: calc(100% - 20px);
    }



    /*----------------
        Developing
    ----------------*/
    .developing .title
    {
        font-size: 32px;
        line-height: 38px;
    }



    /*--------------------
        Advisory board
    --------------------*/
    .advisory_board .level1_tabs button
    {
        font-size: 18px;
        line-height: 24px;
    }


    .advisory_board .col_left .title
    {
        font-size: 22px;
        line-height: 26px;
    }


    .advisory_board .tab_content.level2.active
    {
        padding: 20px;
    }


    .advisory_board .person_info .info
    {
        font-size: 16px;
        line-height: 24px;
    }



    /*--------------------
        Collaborations
    --------------------*/
    .collaborations .info .details
    {
        font-size: 20px;
        line-height: 24px;
    }


    .collaborations .info .title
    {
        font-size: 26px;
        line-height: 30px;
    }



    /*------------
        Footer
    ------------*/
    footer .title
    {
        font-size: 16px;
        line-height: 24px;
    }


    footer .links
    {
        width: 50%;
    }


    footer .copyright
    {
        width: 100%;
        margin-top: 15px;
    }
}
