@media print, (max-width: 1023px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 15px;
        --font_size_title: 44px;
    }


    .buttonUp
    {
        bottom: 55px;
    }



    /*------------
        Header
    ------------*/
    header .search .btn
    {
        width: 38px;
        height: 36px;
        padding: 8px;
    }

    header .search .btn .icon
    {
        width: 19px;
        height: 19px;
    }



    /*-------------
        Sidebar
    -------------*/



    /*---------------
        Page head
    ---------------*/
    .page_head
    {
        min-height: 290px;
        margin-bottom: 40px;
        padding-bottom: 60px;
    }


    .breadcrumbs
    {
        margin-bottom: 40px;
    }


    .page_title
    {
        font-size: 56px;
        line-height: 60px;
    }


    .page_desc
    {
        font-size: 18px;

        margin-top: 25px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head .title .gradient
    {
        font-size: 50px;
        line-height: 50px;
    }

    .block_head .sub_title
    {
        font-size: 24px;
        line-height: 34px;
    }



    /*------------------
        Form elements
    ------------------*/



    /*----------------
        Typography
    ----------------*/
    .text_block
    {
        line-height: 26px;
    }


    .text_block > *
    {
        margin-bottom: 20px;
    }


    .text_block .big
    {
        font-size: 19px;
        line-height: 27px;
    }


    .text_block * + h2,
    .text_block * + h3
    {
        margin-top: 45px;
    }

    .text_block h2
    {
        font-size: 38px;
        line-height: 42px;
    }

    .text_block h3
    {
        font-size: 30px;
        line-height: 34px;
    }


    .text_block blockquote .text
    {
        font-size: 19px;
        line-height: 27px;
    }


    .text_block ul
    {
        padding-left: 0;
    }

    .text_block ul li + li
    {
        margin-top: 12px;
    }

    .text_block ul li:before
    {
        top: 10px;
    }


    .text_block ol
    {
        padding-left: 0;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section .info .title
    {
        font-size: 50px;
        line-height: 60px;
    }


    .first_section .parallax img.layer1,
    .first_section .parallax img.layer3
    {
        display: none;
    }



    /*-----------------
        About block
    -----------------*/
    .about_block
    {
        padding: 80px 0;
    }


    .about_block .block_title
    {
        font-size: 30px;
        line-height: 38px;
    }

    .about_block .block_title br
    {
        display: none;
    }

    .about_block .block_desc
    {
        font-size: 19px;
        line-height: 27px;

        margin-top: 20px;
    }


    .about_block .row
    {
        margin-bottom: -20px;
        margin-left: -20px;
    }

    .about_block .row > *
    {
        max-width: calc(33.333% - 20px);
        margin-left: 20px;
    }



    /*-------------
        Mission
    -------------*/
    .mission
    {
        padding: 80px 0;
    }


    .mission .title
    {
        font-size: 50px;
        line-height: 60px;

        padding-right: 40px;
    }


    .mission .desc
    {
        font-size: 17px;
        line-height: 27px;

        padding: 0 0 0 40px;
    }



    /*----------------
        Dev. stage
    ----------------*/
    .dev_stage
    {
        padding: 80px 0;
    }



    /*------------
        Events
    ------------*/
    .events .block_title
    {
        font-size: 28px;
        line-height: 36px;
    }



    .events .list
    {
        width: calc(100% - 290px);
    }


    .events .event .name
    {
        font-size: 20px;
        line-height: 30px;
    }

    .events .event .date,
    .events .event .time
    {
        font-size: 16px;
        line-height: 24px;
    }



    /*----------
        News
    ----------*/
    .news
    {
        padding: 80px 0;
    }



    .news .list
    {
        width: 100%;
        padding-top: 0;
    }

    .news .list > * + *
    {
        margin-top: 20px;
    }


    .news .news_details
    {
        display: none;
    }



    /*----------
        Team
    ----------*/
    .team
    {
        padding: 70px 0;
    }


    .team .tabs
    {
        margin-bottom: 35px;
    }

    .team .tabs button
    {
        font-size: 20px;
    }


    .team .row > *
    {
        width: calc(50% - 30px);
    }


    .team .text_block
    {
        font-size: 18px;
        line-height: 28px;
    }

    .team .text_block > * + *
    {
        margin-top: 20px;
    }



    /*------------
        Invest
    ------------*/
    .invest
    {
        padding: 70px 0;
    }


    .invest .slider_title
    {
        font-size: 26px;
        line-height: 36px;

        margin-top: 20px;
    }


    .invest .slider
    {
        margin-top: 20px;
        padding: 0 50px;
    }

    .invest .slide
    {
        width: 196px;
    }



    /*--------------
        Articles
    --------------*/
    .articles .years
    {
        margin-bottom: 20px;
    }

    .articles .row + .years
    {
        margin-top: 20px;
    }

    .articles .years > *
    {
        width: calc(25% - 10px);
    }

    .articles .years a
    {
        font-size: 16px;
        line-height: 18px;

        min-height: 40px;
    }


    .articles .row > *
    {
        width: calc(50% - 20px);
    }



    /*------------------
        Article info
    ------------------*/
    .article_info .head .cont > * + *
    {
        margin-top: 35px;
    }

    .article_info .head .article_title
    {
        font-size: 56px;
        line-height: 60px;

        padding-bottom: 20px;
    }



    /*-----------
        Stats
    -----------*/
    .stats
    {
        padding-top: 25px;
    }


    .stats .row
    {
        margin-bottom: -40px;
        margin-left: -20px;
    }

    .stats .row > *
    {
        width: calc(25% - 20px);
        margin-bottom: 40px;
        margin-left: 20px;
    }


    .stats .item
    {
        font-size: 16px;
    }

    .stats .item .val
    {
        font-size: 46px;
        line-height: 40px;
    }



    /*----------------
        Join block
    ----------------*/
    .join_block
    {
        padding: 70px 0;
    }


    .join_block .title
    {
        font-size: 50px;
        line-height: 50px;
    }


    .join_block .info
    {
        width: calc(100% - 200px);
    }


    .join_block .text_block
    {
        font-size: 16px;
    }


    .join_block .btn
    {
        margin-top: 20px;
    }



    /*-----------------
        Media block
    -----------------*/
    .media_block .tabs
    {
        width: 100%;
        margin-bottom: 25px;
        padding: 0;
    }

    .media_block .tabs > * + *
    {
        margin-top: 25px;
    }

    .media_block .tabs button
    {
        font-size: 24px;
        line-height: 30px;
    }

    .media_block .tabs button .arr
    {
        display: none;
    }


    .media_block .tab_content.active
    {
        width: 100%;
    }



    /*---------------
        Map block
    ---------------*/
    .map_block
    {
        padding: 70px 0;
    }


    .map_block .info
    {
        font-size: 18px;
        line-height: 26px;

        width: 280px;
        padding: 35px;
    }

    .map_block .info .title
    {
        font-size: 28px;
    }



    /*----------------
        Learn more
    ----------------*/
    .learn_more .info .details
    {
        font-size: 26px;
        line-height: 32px;

        padding-right: 20px;
    }

    .learn_more .info .details:after
    {
        width: 12px;
        height: 12px;

        border-width: 1px;
    }


    .learn_more .info
    {
        width: calc(100% - 185px);
    }

    .learn_more .info .title
    {
        font-size: 30px;
        line-height: 34px;
    }



    /*-----------------
        Indications
    -----------------*/
    .indications .row
    {
        margin-left: -20px;
    }

    .indications .row > *
    {
        width: calc(33.333% - 20px);
        margin-left: 20px;
    }


    .indications .item .main
    {
        font-size: 22px;
        line-height: 26px;
    }

    .indications .item .sub
    {
        font-size: 18px;
        line-height: 24px;
    }

    .indications .item .sub > * + *
    {
        margin-top: 12px;
    }



    /*----------------
        Developing
    ----------------*/
    .developing
    {
        padding: 70px 0;
    }


    .developing .title
    {
        font-size: 40px;
        line-height: 50px;

        padding-right: 40px;
    }


    .developing .desc
    {
        font-size: 17px;
        line-height: 27px;

        padding: 0 0 0 40px;
    }



    /*--------------------
        Advisory board
    --------------------*/
    .advisory_board .level1_tabs button
    {
        font-size: 20px;
    }


    .advisory_board .col_left
    {
        width: 100%;
        margin-bottom: 25px;
    }

    .advisory_board .col_left .title
    {
        font-size: 26px;
        line-height: 30px;
    }


    .advisory_board .level2_tabs
    {
        padding: 0;
    }

    .advisory_board .level2_tabs > * + *
    {
        margin-top: 15px;
    }

    .advisory_board .level2_tabs button
    {
        font-size: 16px;
        line-height: 20px;
    }

    .advisory_board .level2_tabs button .arr
    {
        display: none;
    }


    .advisory_board .tab_content.level2.active
    {
        width: 100%;
    }


    .advisory_board .person_info .info
    {
        font-size: 17px;
        line-height: 25px;
    }



    /*--------------------
        Collaborations
    --------------------*/
    .collaborations .info
    {
        width: calc(100% - 185px);
    }


    .collaborations .info .details
    {
        font-size: 26px;
        line-height: 32px;

        padding-right: 20px;
    }

    .collaborations .info .details:after
    {
        width: 12px;
        height: 12px;

        border-width: 1px;
    }


    .collaborations .info .title
    {
        font-size: 30px;
        line-height: 34px;
    }



    /*------------
        Footer
    ------------*/
    footer .info .cont
    {
        margin-bottom: -30px;
    }

    footer .links
    {
        width: 33.333%;
        margin-bottom: 30px;
    }



    /*-----------
        PopUp
    -----------*/
    .fancybox-slide--html
    {
        padding: 30px;
    }

    .fancybox-slide--html .fancybox-close-small
    {
        width: 45px;
        height: 45px;
    }
}
