@media print, (max-width: 767px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 15px;
        --font_size_title: 36px;
    }


    .buttonUp
    {
        bottom: 20px;
    }


    .block
    {
        margin-bottom: 60px;
    }



    /*------------
        Header
    ------------*/
    header
    {
        padding: 15px 0;
    }


    header .logo a,
    header .logo img
    {
        height: 30px;
    }


    header .socials a + a
    {
        margin-left: 15px;
    }


    header .socials + .search
    {
        margin-left: 20px;
    }


    header .search .btn
    {
        width: 38px;
        height: 36px;
    }

    header .search .btn .icon
    {
        width: 18px;
        height: 18px;
    }


    header .search .mini_modal
    {
        width: 334px;
    }


    header .search form .input
    {
        width: calc(100% - 43px);
        height: 36px;
    }

    header .search form .submit_btn
    {
        width: 38px;
        height: 36px;
    }

    header .search form .submit_btn .icon
    {
        width: 18px;
        height: 18px;
    }



    /*-------------
        Sidebar
    -------------*/



    /*---------------
        Page head
    ---------------*/
    .page_head
    {
        min-height: 0;
        padding-top: 76px;
        padding-bottom: 46px;
    }


    .page_head .cont > * + *
    {
        margin-top: 30px;
    }


    .breadcrumbs
    {
        line-height: 22px;
    }


    .page_title
    {
        font-size: 44px;
        line-height: 50px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head
    {
        margin-bottom: 35px;
    }

    .block_head .title
    {
        padding-bottom: 19px;
    }

    .block_head .sub_title
    {
        font-size: 20px;
        line-height: 30px;
    }



    /*------------------
        Form elements
    ------------------*/



    /*----------------
        Typography
    ----------------*/
    .text_block
    {
        line-height: 25px;
    }


    .text_block .big
    {
        font-size: 18px;
        line-height: 26px;
    }


    .text_block h2
    {
        font-size: 34px;
        line-height: 38px;

        margin-bottom: 15px;
    }

    .text_block h3
    {
        font-size: 28px;
        line-height: 32px;

        margin-bottom: 15px;
    }


    .text_block img.right,
    .text_block img.left
    {
        float: none;

        max-width: 100%;
        margin-right: 0;
        margin-left: 0;
    }


    .text_block blockquote
    {
        padding-left: 23px;
    }

    .text_block blockquote .text
    {
        font-size: 18px;
        line-height: 26px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section .cont
    {
        padding-top: 115px;
        padding-bottom: 115px;
    }


    .first_section .info .title
    {
        font-size: 40px;
        line-height: 50px;
    }


    .first_section .mouse
    {
        bottom: 20px;
    }



    /*-----------------
        About block
    -----------------*/
    .about_block
    {
        padding: 60px 0;
    }


    .about_block .block_title
    {
        font-size: 26px;
        line-height: 34px;
    }

    .about_block .block_desc
    {
        font-size: 17px;
        line-height: 25px;
    }


    .about_block .row
    {
        padding-bottom: 65px;
    }

    .about_block .row > *
    {
        max-width: calc(50% - 20px);
        margin-bottom: -45px;
    }



    /*-------------
        Mission
    -------------*/
    .mission
    {
        padding: 60px 0;
    }


    .mission .title
    {
        font-size: 42px;
        line-height: 50px;

        width: 100%;
        margin-bottom: 30px;
        padding-right: 0;
    }


    .mission .desc
    {
        font-size: 16px;
        line-height: 26px;

        width: 100%;
        padding: 0;
    }


    .mission .bg
    {
        right: 0;

        width: 100%;
    }


    .mission .parallax
    {
        display: none;
    }



    /*----------------
        Dev. stage
    ----------------*/
    .dev_stage
    {
        padding: 60px 0;
    }


    .dev_stage table td.name
    {
        font-size: 20px;
        line-height: 28px;
    }



    /*------------
        Events
    ------------*/
    .events .block_title
    {
        font-size: 24px;
        line-height: 30px;

        width: 100%;
        height: auto;
        margin: 0 0 30px;
        padding: 15px;

        background: #fff;
        box-shadow: 0 10px 40px 0 rgba(61, 129, 131, .2);
    }

    .events .block_title:before
    {
        display: none;
    }

    .events .block_title br
    {
        display: none;
    }


    .events .list
    {
        width: 100%;
    }

    .events .event .name
    {
        font-size: 19px;
        line-height: 27px;
    }



    /*----------
        News
    ----------*/
    .news
    {
        padding: 60px 0;
    }



    /*----------
        Team
    ----------*/
    .team
    {
        padding: 60px 0;
    }


    .team .item .photo
    {
        margin: 0 auto 10px;
    }

    .team .item .name
    {
        width: 100%;

        text-align: center;
    }


    .team .text_block
    {
        font-size: 16px;
        line-height: 24px;
    }


    .team .links
    {
        margin-top: 35px;
    }

    .team .links a
    {
        font-size: 16px;
        line-height: 18px;
    }



    /*------------
        Invest
    ------------*/
    .invest
    {
        padding: 60px 0;
    }


    .invest .slider_title
    {
        font-size: 22px;
        line-height: 28px;
    }


    .invest .slider
    {
        padding: 0 40px;
    }

    .invest .slide
    {
        width: 170px;
    }

    .invest .slide .year
    {
        font-size: 26px;
    }



    /*--------------
        Articles
    --------------*/
    .articles .years > *
    {
        width: calc(50% - 10px);
    }

    .articles .years a
    {
        font-size: 15px;
        line-height: 17px;

        min-height: 37px;
    }



    .articles .row > *
    {
        width: calc(100% - 20px);
    }


    .articles .article .name
    {
        font-size: 19px;
        line-height: 23px;
    }

    .articles .article .desc
    {
        font-size: 14px;
        line-height: 20px;
    }



    /*------------------
        Article info
    ------------------*/
    .article_info .head .cont > * + *
    {
        margin-top: 30px;
    }

    .article_info .head .article_title
    {
        font-size: 44px;
        line-height: 50px;
    }



    /*------------
        Footer
    ------------*/
    footer .address
    {
        width: 100%;
        margin-bottom: 15px;
        padding-right: 60px;
    }
}
